In [26]:
import pandas as pd
instagram = pd.read_csv("instagram_global_top_1000.csv")
my_list = list(instagram)
instagram = instagram.drop(['Country', 'Scraped'], axis=1)
instagram.head()

,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg
0,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0
1,2,kyliejenner,Kylie ü§ç,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,308800000.0,United States,6200000.0,10100000.0
2,3,leomessi,Leo Messi,https://www.instagram.com/leomessi/,Sports with a ball|Family,306300000.0,Argentina,4800000.0,6500000.0
3,4,kendalljenner,Kendall,https://www.instagram.com/kendalljenner/,Modeling|Fashion,217800000.0,United States,3400000.0,5400000.0
4,5,selenagomez,Selena Gomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,295800000.0,United States,2700000.0,3600000.0

In [27]:
grouped_category = instagram.groupby("Category")["Rank"].count()
category_list = grouped_category.index.tolist()
count_list = []
for element in category_list:
    count = element.count("|")
    count_list.append(count)
max_categories = max(count_list) + 1
# max number of genres an influencer has
print(max_categories)
print(category_list)

6
['Accessories|Jewellery|Clothing|Outfits|Fashion', 'Adult content', 'Animals', 'Art|Artists', 'Art|Artists|Beauty', 'Art|Artists|Cinema|Actors/actresses', 'Art|Artists|Cinema|Actors/actresses|Shows', 'Art|Artists|Comics  sketches', 'Art|Artists|Fashion|Modeling', 'Art|Artists|Fashion|Music', 'Art|Artists|Shows', 'Beauty', 'Beauty|Art|Artists|Cinema|Actors/actresses', 'Beauty|Art|Artists|Modeling', 'Beauty|Cinema|Actors/actresses', 'Beauty|Cinema|Actors/actresses|Fashion', 'Beauty|Cinema|Actors/actresses|Modeling', 'Beauty|Family|Lifestyle', 'Beauty|Lifestyle', 'Beauty|Modeling|Adult content', 'Beauty|Modeling|Cinema|Actors/actresses', 'Business|Careers', 'Business|Careers|Finance|Economics', 'Cars|Motorbikes', 'Cars|Motorbikes|Luxury', 'Cars|Motorbikes|Luxury|Racing|Sports', 'Cinema|Actors/actresses', 'Cinema|Actors/actresses|Art|Artists', 'Cinema|Actors/actresses|Comics  sketches', 'Cinema|Actors/actresses|Comics  sketches|Shows', 'Cinema|Actors/actresses|Family', 'Cinema|Actors/actresses|Fashion', 'Cinema|Actors/actresses|Fitness|Gym', 'Cinema|Actors/actresses|Humor|Fun|Happiness', 'Cinema|Actors/actresses|Humor|Fun|Happiness|Modeling', 'Cinema|Actors/actresses|Lifestyle', 'Cinema|Actors/actresses|Lifestyle|Fashion', 'Cinema|Actors/actresses|Modeling', 'Cinema|Actors/actresses|Modeling|Clothing|Outfits', 'Cinema|Actors/actresses|Modeling|Lifestyle', 'Cinema|Actors/actresses|Music', 'Cinema|Actors/actresses|Music|Shows', 'Cinema|Actors/actresses|Photography', 'Cinema|Actors/actresses|Shows', 'Clothing|Outfits', 'Clothing|Outfits|Lifestyle', 'Clothing|Outfits|Music', 'Clothing|Outfits|Shopping|Retail', 'Computers|Gadgets', 'Computers|Gadgets|Machinery|Technologies', 'Computers|Gadgets|Photography', 'Extreme|Sports|Outdoor activity', 'Extreme|Sports|Outdoor activity|Racing|Sports', 'Family', 'Family|D|I|Y|Design', 'Family|Fashion|Modeling', 'Family|Finance|Economics', 'Family|Lifestyle', 'Family|Lifestyle|Shows', 'Family|Music', 'Family|Sports with a ball', 'Fashion', 'Fashion|Beauty', 'Fashion|Cinema|Actors/actresses', 'Fashion|Clothing|Outfits|Accessories|Jewellery', 'Fashion|Lifestyle|Beauty', 'Fashion|Modeling', 'Fashion|Modeling|Beauty', 'Finance|Economics', 'Finance|Economics|Business|Careers', 'Finance|Economics|Business|Careers|Family', 'Fitness|Gym', 'Fitness|Gym|Lifestyle', 'Fitness|Gym|Shopping|Retail|Clothing|Outfits', 'Food|Cooking', 'Humor|Fun|Happiness', 'Humor|Fun|Happiness|Cinema|Actors/actresses', 'Humor|Fun|Happiness|Clothing|Outfits', 'Humor|Fun|Happiness|Lifestyle', 'Humor|Fun|Happiness|Shows|Art|Artists', 'Kids|Toys|Family', 'Lifestyle', 'Lifestyle|Art|Artists', 'Lifestyle|Beauty', 'Lifestyle|Business|Careers', 'Lifestyle|Cinema|Actors/actresses', 'Lifestyle|Cinema|Actors/actresses|Music', 'Lifestyle|Clothing|Outfits', 'Lifestyle|Fashion', 'Lifestyle|Fashion|Clothing|Outfits', 'Lifestyle|Modeling', 'Lifestyle|Modeling|Cinema|Actors/actresses', 'Lifestyle|Modeling|Fashion', 'Lifestyle|Music', 'Lifestyle|Music|Modeling', 'Lifestyle|Shows', 'Lifestyle|Shows|Computers|Gadgets', 'Lifestyle|Sports with a ball', 'Literature|Journalism', 'Literature|Journalism|Cinema|Actors/actresses|Fashion', 'Literature|Journalism|Fashion', 'Literature|Journalism|Shows', 'Literature|Journalism|Trainers|Coaches', 'Luxury|Cars|Motorbikes', 'Machinery|Technologies|Computers|Gadgets', 'Management|Marketing|Music', 'Modeling', 'Modeling|Beauty|Lifestyle', 'Modeling|Cinema|Actors/actresses', 'Modeling|Family', 'Modeling|Fashion', 'Modeling|Fashion|Lifestyle', 'Modeling|Lifestyle', 'Modeling|Lifestyle|Beauty', 'Modeling|Lifestyle|Fashion', 'Modeling|Music', 'Music', 'Music|Art|Artists', 'Music|Art|Artists|Cinema|Actors/actresses', 'Music|Beauty', 'Music|Beauty|Fashion', 'Music|Cinema|Actors/actresses', 'Music|Cinema|Actors/actresses|Fashion', 'Music|Cinema|Actors/actresses|Lifestyle', 'Music|Cinema|Actors/actresses|Modeling', 'Music|Clothing|Outfits', 'Music|Family', 'Music|Fashion', 'Music|Fitness|Gym|Lifestyle', 'Music|Kids|Toys', 'Music|Lifestyle', 'Music|Modeling', 'Music|Modeling|Art|Artists', 'Music|Shows', 'Music|Shows|Cinema|Actors/actresses', 'Nature  landscapes|Photography', 'Nature  landscapes|Photography|Travel', 'Nature  landscapes|Science|Photography', 'Photography', 'Photography|Fashion', 'Photography|Humor|Fun|Happiness', 'Photography|Lifestyle', 'Photography|Travel', 'Racing|Sports', 'Science|Machinery|Technologies', 'Science|Photography', 'Shows', 'Shows|Adult content', 'Shows|Beauty|Family', 'Shows|Beauty|Lifestyle', 'Shows|Cinema|Actors/actresses', 'Shows|Cinema|Actors/actresses|Lifestyle', 'Shows|Cinema|Actors/actresses|Modeling', 'Shows|Family', 'Shows|Fitness|Gym', 'Shows|Humor|Fun|Happiness', 'Shows|Lifestyle', 'Shows|Modeling', 'Shows|Music', 'Sports with a ball', 'Sports with a ball|Family', 'Sports with a ball|Lifestyle', 'Sports with a ball|Lifestyle|Kids|Toys', 'Sports with a ball|Literature|Journalism', 'Sports with a ball|Shows']

In [71]:
#add columns that have each category

instagram_w_categories = instagram.rename(columns={"Category": "Category 1"})
instagram_w_categories["Category 2"] = "N/A"
instagram_w_categories["Category 3"] = "N/A"
instagram_w_categories["Category 4"] = "N/A"
instagram_w_categories["Category 5"] = "N/A"
instagram_w_categories["Category 6"] = "N/A"
instagram_w_categories.head()

,Rank,Account,Title,Link,Category 1,Followers,Audience Country,Authentic engagement,Engagement avg,Category 2,Category 3,Category 4,Category 5,Category 6
0,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0,N/A,N/A,N/A,N/A,N/A
1,2,kyliejenner,Kylie ü§ç,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,308800000.0,United States,6200000.0,10100000.0,N/A,N/A,N/A,N/A,N/A
2,3,leomessi,Leo Messi,https://www.instagram.com/leomessi/,Sports with a ball|Family,306300000.0,Argentina,4800000.0,6500000.0,N/A,N/A,N/A,N/A,N/A
3,4,kendalljenner,Kendall,https://www.instagram.com/kendalljenner/,Modeling|Fashion,217800000.0,United States,3400000.0,5400000.0,N/A,N/A,N/A,N/A,N/A
4,5,selenagomez,Selena Gomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,295800000.0,United States,2700000.0,3600000.0,N/A,N/A,N/A,N/A,N/A

In [72]:
index = 0
for string in instagram_w_categories["Category 1"].astype(str):
    num = string.count("|")
    while num >= 0:
        category_list = string.split("|")
        instagram_w_categories.loc[index, ["Category " + str(num + 1)]] = category_list[num].strip()
        num -= 1
    index += 1

In [73]:
grouped_category_1 = instagram_w_categories.groupby("Category 1").size()
grouped_category_2 = instagram_w_categories.groupby("Category 2").size()
grouped_category_3 = instagram_w_categories.groupby("Category 3").size()
grouped_category_4 = instagram_w_categories.groupby("Category 4").size()
grouped_category_5 = instagram_w_categories.groupby("Category 5").size()
grouped_category_6 = instagram_w_categories.groupby("Category 6").size()

combine = pd.concat([grouped_category_1, grouped_category_2, grouped_category_3, grouped_category_4, grouped_category_5, grouped_category_6])
print(combine.to_string())

Accessories             1
Adult content           7
Animals                 1
Art                    12
Beauty                 26
Business                4
Cars                    5
Cinema                209
Clothing                5
Computers               8
Extreme                 2
Family                 14
Fashion                10
Finance                 4
Fitness                11
Food                    2
Humor                  24
Kids                    1
Lifestyle              92
Literature              6
Luxury                  2
Machinery               1
Management              2
Modeling               37
Music                 244
Nature  landscapes      3
Photography             6
Racing                  6
Science                 2
Shows                  50
Sports with a ball    112
nan                    91
Actors/actresses      209
Adult content           1
Art                    18
Artists                12
Beauty                 12
Business                1
Careers                 4
Cars                    2
Cinema                 52
Clothing                3
Cooking                 2
D                       1
Economics               4
Family                  6
Fashion                13
Finance                 1
Fitness                 2
Fun                    24
Gadgets                 8
Gym                    11
Humor                   8
Jewellery               1
Journalism              6
Kids                    1
Lifestyle              34
Literature              1
Machinery               1
Marketing               2
Modeling               20
Motorbikes              5
Music                   7
N/A                   494
Outfits                 5
Photography             3
Science                 1
Shows                   9
Sports                  8
Sports with a ball      5
Technologies            1
Toys                    1
Travel                  1
Actors/actresses       52
Adult content           1
Art                     3
Artists                18
Beauty                  4
Business                3
Careers                 1
Cinema                  7
Clothing                2
Comics  sketches        3
Computers               2
Economics               1
Family                  3
Fashion                 9
Finance                 1
Fitness                 2
Fun                     8
Gym                     2
Happiness              24
Humor                   2
I                       1
Journalism              1
Kids                    1
Lifestyle              23
Luxury                  2
Machinery               4
Modeling               13
Motorbikes              2
Music                   8
N/A                   778
Outdoor activity        2
Outfits                 3
Photography             3
Shopping                2
Shows                   5
Technologies            1
Toys                    1
Trainers                1
Travel                  1
Accessories             1
Actors/actresses        7
Artists                 3
Careers                 3
Cinema                  6
Clothing                2
Coaches                 1
Economics               1
Fashion                 4
Fun                     2
Gadgets                 2
Gym                     2
Happiness               8
Lifestyle               9
Modeling                9
Music                   2
N/A                   923
Outfits                 2
Racing                  2
Retail                  2
Shows                   3
Technologies            4
Toys                    1
Y                       1
Actors/actresses        6
Art                     1
Clothing                1
Design                  1
Family                  2
Fashion                 2
Happiness               2
Jewellery               1
N/A                   979
Outfits                 2
Shows                   1
Sports                  2
Artists                 1
Modeling                1
N/A                   997
Outfits                 1